<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <!-- about section  -->
    <th:block th:fragment="about-section">
      <section class="about-section" id="about">
  <div class="about-wrapper">

    <!-- Left side text -->
    <div class="about-left">
      <h2 class="about-title">About Me</h2>
      <p class="about-sub">Get to know more about my background and journey</p>

      <p class="about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus! Consectetur ut in eaque quod et optio nisi deleniti, commodi unde sequi aspernatur voluptatem repellat necessitatibus sapiente! Molestias, laboriosam? Nulla!.
      </p>
      <p class="about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consectetur quis ducimus quod recusandae, distinctio similique sint quae necessitatibus sapiente dolores rerum cupiditate, debitis laborum numquam nihil at? Cum, officia?
      </p>
      <p class="about-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore ipsum corporis quidem optio expedita voluptates deserunt reiciendis maxime saepe aliquid nesciunt voluptatibus culpa, sit a, distinctio dignissimos vero exercitationem natus.
      </p>
      <p class="about-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore ipsum corporis quidem optio expedita voluptates deserunt reiciendis maxime saepe aliquid nesciunt voluptatibus culpa, sit a, distinctio dignissimos vero exercitationem natus.
      </p>
    </div>

    <!-- Right side tech image -->
    <div class="about-right">
      <div class="tech-image-box">
        <img src="/images/about.jpg" alt="tech">
      </div>
    </div>

  </div>
</section>
    </th:block>
  </body>
</html>
