<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <!-- header Fragment -->
    <th:block th:fragment="site-header">
      <header class="header">
        <div class="container header-container">
          <div class="menu-toggle"><i class="fas fa-bars"></i></div>
          <div class="logo">A.<span>S.</span></div>
          <nav class="nav">
            <div class="nav-links">
              <a href="#about" class="nav-link">About</a>
              <a href="#skills" class="nav-link">Skills</a>
              <a href="#Project" class="nav-link">Project</a>
              <a href="#achivements" class="nav-link">Achivements</a>
              <a href="#contact" class="nav-link">Contact</a>
            </div>
          </nav>
        </div>
      </header>
    </th:block>
  </body>
</html>
