<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <!-- header Fragment -->
    <th:block th:fragment="hero-section">
      <section class="hero" id="home">
        <div class="hero-background"></div>
        <div class="container hero-container">
          <!-- Hero content  -->
          <div class="hero-content">
            <div class="hero-greeting">Hi there , I'm</div>
            <h1 class="hero-title">
              <span class="gradient-text">Ankit Saahariya</span>
            </h1>
            <h2 class="hero-subtitle">I am a <span id="typing-role"></span></h2>
            <p class="hero-decription">
              I’m a Java Full Stack Developer passionate about building
              responsive and user-friendly web applications using Spring Boot,
              Thymeleaf, HTML, CSS, and JavaScript.
            </p>

            <div class="hero-buttons">
              <a href="#projects" class="btn btn-primary">
                View My Work <i class="fas fa-arrow-right"></i>
              </a>
              <a href="#contact" class="btn btn-outline"> Get in Touch </a>
            </div>

            <!-- Social Links  -->
            <div class="social-links">
              <a href="tel:+919416398480" class="social-link">
                <i class="fas fa-phone-alt"></i>
              </a>
              <a href="mailto:ankitksoftware@gmail.com" class="social-link">
                <i class="fas fa-envelope"></i>
              </a>
              <a
                href="https://www.linkedin.com/in/ankitkumar1c"
                target="_blank"
                class="social-link"
              >
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a
                href="https://github.com/Ankit-kumar8-1"
                target="_blank"
                class="social-link"
              >
                <i class="fab fa-github"></i>
              </a>
              <a
                href="https://leetcode.com/Ankit_KumarJD/"
                target="_blank"
                class="social-link"
              >
                <i class="cib-leetcode"></i>
              </a>
            </div>
          </div>

        <div class="hero-visual">
            <div class="hero-visual-inner">
                  <div class="hero-visual-frame">
                      <img src="/images/AnkitSaahariya.png" alt="profile">
                  </div>
            </div>

            <button class="view-photo-btn" onclick="openPhotoPopup()">
                <i class="fa-solid fa-user"></i>  View Resume
            </button>
            <div class="photo-popup" id="photoPopup" onclick="closePhotoPopup(event)">
                <div class="photo-popup-inner">
                    <img src="/images/Resume.png" alt="profile-large">
                </div>
            </div>

            <div class="hero-stats stats-1">
                <div class="hero-stats-icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="hero-stats-text">
                    <div class="hero-stats-label">Developer</div>
                </div>
            </div>

            <div class="hero-stats stats-2">
                <div class="hero-stats-icon">
                    <i class="fas fa-server"></i>
                </div>
                <div class="hero-stats-text">
                      <div class="hero-stats-label">Backend Focus</div>
                </div>
            </div>

            <div class="hero-stats stats-3">
                <div class="hero-stats-icon">
                    <i class="fas fa-lightbulb"></i>
                </div>
                <div class="hero-stats-text">
                    <div class="hero-stats-label">Problem Solver</div>
                </div>
            </div>
        </div>
        </div>

        <!-- scroll indecator -->
        <div class="scroll-indecator">
          <span>Scroll down </span>
          <div class="scroll-indecator-line">
            <div class="scroll-indecator-dot"></div>
          </div>
        </div>
      </section>
    </th:block>
    
  </body>
</html>
